body {
    font-family: sans-serif;
    color: #d9d1d1;
    background-color: #212121;
    margin: 2em;
}

svg * {
    font-family: unset !important;
}

div {
    display: flex;
    flex-direction: column;
}

span {
    display: flex;
    flex-direction: row;
}

.dashboard {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.registers .register {
    margin: .1em;
    padding: .3em;
    align-items: flex-start;
}

.registers .register {
    border-bottom: 1px dotted gray;
}

.registers .register .name {
    min-width: 20em;
    font-size: 0.8em;
}

.registers .register .value {
    color: #ebebeb;
}

.register-bound.goesDown {
    color: #acd8ff !important;
    fill: #acd8ff !important;
}

.register-bound.goesUp {
    color: #ffaeae !important;
    fill: #ffaeae !important;
}

