body {
    font-family: sans-serif;
    color: #d9d1d1;
    background-color: #1e1e1e;
    margin: 2em;
}

body, button, td {
    font-size: 12pt;  
}

svg * {
    font-family: unset !important;
}

div {
    display: flex;
    flex-direction: column;
}

span {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 0.2em;
    border: none;
    padding: 0.2em 1em;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: smaller;
}

button:active {
  transform: translateX(2px) translateY(2px);
}

button.start {
    background-color: #1cc37a;
}

button.stop {
    background-color: #e16161;
}

button.locked {
    display: none;
}

.dashboard {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.dashboard .schema-errors {
    align-items: center;
}

.registers .register {
    padding: .3em;
    border-bottom: 1px dashed #4a4a4a;
    align-items: center;
}

.registers .register .name {
    min-width: 20em;
    font-size: 0.8em;
}

.registers .register .value {
    color: #ebebeb;
    min-width: 5em;
}

.register-bound.goesDown {
    color: #8cc7fb !important;
    fill: #8cc7fb !important;
}

.register-bound.goesUp, .register-bound.off {
    color: #ffaeae !important;
    fill: #ffaeae !important;
}

.register-bound.on {
    color: #7dffc6 !important;
    fill: #7dffc6 !important;
}

.register .controls {
    align-self: flex-start;
    margin-left: 0.5em;
}

.register .controls * {
    margin-left: 0.5em;
}

.notifications, .system-errors {
    background-color: #a10000;
    border-radius: 0.5em;
    padding: 0 2em 1em 2em;  
    box-shadow: 0 0 1em black;
    border: 1px #ffc2c1 solid;
}


.notifications .notification, .system-errors .system-error {
    margin-top: 1em;
}

.system-error {
    cursor: pointer;
}

.notifications {
    position: fixed;
    right: 1em;
    top: 1em;
}

.notifications:empty, .system-errors:empty {
    display: none;
}

.system-errors {
    margin: 1em;
}
